<h1>Sign Up</h1>
<form class='signup-form'>
  <div class='mb-3'>
    <input
      aria-describedby='usernameHelpBlock'
      class='form-control'
      id='signup-username'
      placeholder='Username'
      type='text'
    />
  </div>
  <div class='mb-3'>
    <input
      aria-describedby='emailHelpBlock'
      class='form-control'
      id='signup-email'
      placeholder='Email'
      type='email'
    />
  </div>
  <div class='mb-3'>
    <input
      aria-describedby='passwordHelpBlock'
      class='form-control'
      id='signup-password'
      placeholder='Password'
      type='password'
    />
  </div>
  <button class='btn btn-dark text-light w-100' type='submit'>
    Sign Up
  </button>
</form>
<p>
  Already have an account?
  <a class='link-opacity-100 text-dark' href='/login'>Login</a>
</p>

<script src='./js/signup.js'></script>